<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<title>Boot App</title>
</head>
<body>
<div class="jumbotron text-center">
    <h1>My Spring Boot App</h1>
    <h2>Main Page</h2>
</div>

<nav> <!-- 같은 웹 서버 내에서 다른 페이지로 이동하는 메뉴들 -->
    <!-- TODO: 로그인 된 상태에서는 로그아웃 메뉴 보여주기 -->
    <!-- thymeleaf 템플릿 엔진이 사용자 인증 여부를 확인하려면 
    즉, isAuthenticated() 또는 isAnonymous() 메서드를 사용할 수 있으려면,
    controller에서 AuthenticationPrincipal을 템플릿 엔진에게 전달해야 함.
     -->
    <div sec:authorize="isAuthenticated()">
        <span sec:authentication="name"></span>님,
        <a class="btn btn-light" th:href="@{/logout}">로그아웃</a>
    </div>
    <a class="btn btn-primary" th:href="@{/save}">새 글 작성</a>
    <!-- TODO: 로그인 안 된 상태에서만 로그인, 회원가입 메뉴 보여 주기 -->
    <div sec:authorize="isAnonymous()">
        <a class="btn btn-info" th:href="@{/login}">로그인</a>
        <a class="btn btn-info" th:href="@{/user/signup}">회원 가입</a>
    </span>
    
    
</nav>

<form class="form-group" method="get" th:action="@{/search}">
    <div class="form-row">
        <div class="form-col">
            <select class="form-control" name="searchType">
                <option value="t">제목</option>
                <option value="c">내용</option>
                <option value="tc">제목 + 내용</option>
                <option value="a">작성자</option>
            </select>
        </div>
        <div class="form-col">
            <input class="form-control" name="searchKeyword" type="text" placeholder="검색어 입력" required/>
        </div>
        <div class="form-col">
            <input class="form-control btn btn-light" type="submit" value="검색"/>
        </div>
    </div>
</form>

<table class="table table-striped table-hover">
    <thead>
        <tr>    <!-- table row -->
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>최종수정시간</th>
        </tr>
    </thead>
    <tbody>
        <!-- model에서 "posts"라는 이름의 attribute 찾아서 반복-->  
        <tr th:each="p : ${posts}">
            <td th:text="${p.id}"></td>
	        <td >
	           <a th:href="@{/read/{id}(id=${p.id})}"
	              th:text="${p.title}"></a>
	        </td>
	        <td th:text="${p.author}"></td>
	        <td th:text="${p.modifiDate}"></td>
        </tr>
    </tbody>
</table>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>