<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<title>Boot App</title>
</head>
<body>
<div class="jumbotron text-center">
    <h1>My Spring Boot App</h1>
    <h2>새 글 작성 페이지</h2>
</div>

<nav> <!-- TODO: navigation menu를 추가하기 위해서-->
    <!-- 로그아웃 버튼 보여주기 -->
    <div sec:authorize="isAuthenticated()">
        <span sec:authentication="name"></span>님,
        <a class="btn btn-light" th:href="@{/logout}">로그아웃</a>
    </div>
    <div>
        <a th:href="@{/}" class="btn btn-secondary">Home</a>
    </div>
</nav>

<form>
    <div class="form-group">
        <label for="title" th:text="Title"></label>
        <input class="form-control" type="text" id="title" name="title" autofocus />
    </div>
    <div class="form-group">
        <label for="content" th:text="Content"></label>
        <textarea class="form-control" id="content" name="content"></textarea>
    </div>
    <div class="form-group">
        <label for="author" th:text="Author"></label>
        <!-- 로그인한 사용자 이름(username)을 자동으로 채우고 읽기 전용(편집 불가)로 만듦. -->
        <input class="form-control" id="author" name="author"
            th:value="${#authentication.name}" readonly/>
    </div>
</form>
<div>
    <a th:href="@{/}" class="btn btn-secondary">취소</a>
    <button id="btnSave" class="btn btn-success">작성완료</button>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
<script>
    //HTML 로딩이 끝났을 때 핸들러 함수 function()을 호출
    $(function() {
        // id=btnSave인 버튼이 클릭됐을 때 할 일 정의 - 이벤트 핸들러 등록
        $('#btnSave').click(function() {
            // title, content, author 입력창에 입력된 내용을 저장하는 JavaScript 객체
            const data = {
                title: $('#title').val(),
                content: $('#content').val(),
                author: $('#author').val(),
            };
            console.log(data); // 브라우저 콘솔에 data 내용을 출력
            
            // TODO: title, content에 문자열이 입력됐는지 체크하고 입력된 경우에만 ajax 요청
            if(data.title.length > 0 && data.content.length > 0)
            {
                // 웹 서버로 data를 Ajax 방식으로 전송.
	            $.ajax({
	                type: 'POST', // 요청 방식(request method)
	                url: '/api/posts', // 요청 주소(request url)
	                dataType: 'json',
	                contentType: 'application/json; charset=utf-8',
	                data: JSON.stringify(data), // Ajax 요청으로 보낼 데이터
	                success: function(result) {
	                    alert(result + ' 새 글 작성 성공!');
	                    location.href = '/';
	                }, // 성공 응답(HTTP 200)이 왔을 때 실행할 콜백.
	                error: function(err) {
	                    alert(JSON.stringify(err));
	                }, // 실패 응답이 왔을 때 실행할 콜백.
	            });
            }
            else
            {
                alert("제목과 내용을 입력해주세요.");
            }
        });
    });
</script>
</body>
</html>